body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f4f4f4;
}

h1 {
    color: #333;
}

#product-list {
    margin-top: 20px;
}

.producto {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
}

#loader {
    font-weight: bold;
    animation: parpadeo 1s infinite;
}

@keyframes parpadeo {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}
